@charset "utf-8";
*{
margin: 0px;
padding: 0px;
}
   html,body{
    height: 100vh;
    width: 100vw;
   } 
body{
   
    background-image: url('../imagens/fundo-madeira.jpg');
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
main{
    position: relative;
    height: 100vh;
}
section#telefone{
    position:absolute;  
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);

    height: 627px;
    width: 311px;
    background-image: url('../imagens/frame-iphone.png');
}
iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;

    height: 469px;
    width: 263px;
}
section#rede-sociais img {

    width:50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px black;
}
section#rede-sociais img:hover {
    border: 2px solid white;
    transform :translate(-5px,-5px);
    box-shadow: 5px 5px 10px black;
    transition: transform.3s ;
}

section#rede-sociais{
    text-align: right;

}